.TopArtists {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  width: 60rem;
  margin-left: 2rem;
  /* margin-top: 1rem; */
  padding: 1rem;
}

.Section-Title{
  font-weight: 600;
  font-size: 2rem;
  line-height: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 2rem;
  padding-left: 1rem;
  color: rgb(184, 184, 184);
}

@media (min-width: 640px) {
  .TopArtists {
    justify-content: flex-start;
  }
}
